body{

}
.container{
}

/*header*/
.companyName{
  font-size: 3em;
  text-align: center;
}
.companyMission{
  font-size: 1em;
  margin-bottom: 5%;
  text-align: center;
}

.Jumbotron{
  text-align:;
  margin: 5% 0 5% 0;
}
img{
}

.containe{
  max-width: 1000px;
}
.img-thumbnail{

}
.offerings{
  text-align: justify;
}
.glyphicon{
  font-size: 3em;
  display: block;
  text-align: center;
  margin-bottom: 5%;
}

.btn-lg{
}


footer{
background: red;
height: 30px;
text-align: center;
margin-top: 5%;
}